/*General Styles*/

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

div {
  display: block;
}

li {
  font-family: 'Overpass', sans-serif;
}

body {
  font-family: Inconsolata, sans-serif;
  margin: 0 10%;
}

/*General Class Selectors*/

.font-panel {
  width: 45%;
  display: inline-block;
}

.text-panel p {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

.text-panel h1 {
  font-weight: 700px;
  font-size: 38px;
  font-family: 'Inconsolata', monospace;
}

.text-panel h2 {
  font: weight 400;
  font-size: 20px;
  font-family: 'Overpass', sans-serif;
}

.container {
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 10px auto;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

/*Cool Blue*/

.cool-blue {
  background-color: #2d5dcc;
  color: #fff;
  font-weight: bold;
}

/*Dark Gray*/ 

.darkgray {
  background-color: #a9a9a9;
  color: #fff;
  font-weight: bold;
}

/*Golden Rod*/

.goldenrod {
  background-color: goldenrod;
  color: #fff;
  font-weight: bold;
}

.darkolivegreen {
  background-color: darkolivegreen;
  color: #fff;
  font-weight: bold;
}

/*Font styling*/

.regular {
  font-style: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.inconsolata {
  font-family: 'Incosolata', monospace;
}

.abel {
  font-family: 'Abel', sans-serif;
}

.overpass {
  font-family: 'Overpass', sans-serif;
}

